body {
  background-image: url("../Image/Map.png");
  font-family: 'Teko', sans-serif;
  color: white;
  text-shadow: 2px 2px 1px black;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-size: 25px;
}

li a, .MenuDéroulant {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 28px;
  text-decoration: none;

}

li a:hover, .BoutonArmes:hover .MenuDéroulant {
  background-color: red;
}

li.BoutonArmes {
  display: inline-block;
}

.Liste_Armes_Déroulant {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.Liste_Armes_Déroulant a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.Liste_Armes_Déroulant a:hover {
  background-color: #f1f1f1;
}

.BoutonArmes:hover .Liste_Armes_Déroulant {
  display: block;
}


 .détails_droite {
  margin-left: 30%;
  margin-top: 5%;
  margin-right: 5%;
  font-size: 25px;
}

.détails_gauche {
 margin-right: 30%;
 margin-top: 5%;
 font-size: 25px;
 padding-left: 5%
}

.Epee {
  background-image: url("../Image/Armes/1.png");
  background-repeat: no-repeat;
  height: 500px;
  display: block;
  border: solid pink;
  background-size: 430px 550px;

}

.Lance {
  background-image: url("../Image/Armes/2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 530px 500px;
  height: 500px;
  display: block;
  margin-top: 2%;
  border: solid red;
}



.Bouclier {
  background-image: url("../Image/Armes/3.png");
  background-repeat: no-repeat;
  height: 500px;
  display: block;
  background-size: 600px 500px;
  border: solid green;
  margin-top: 2%;
}

.Arc {
  background-image: url("../Image/Armes/4.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 500px;
  display: block;
  background-size: 350px 500px;
  border: solid #17329e;
  margin-top: 2%;
}

.Gant {
  background-image: url("../Image/Armes/5.png");
  background-repeat: no-repeat;
  height: 500px;
  display: block;
  background-size: 440px 500px;
  border: solid #86a9bd;
  margin-top: 2%
}

.Pistolet {
  background-image: url("../Image/Armes/6.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 500px;
  display: block;
  border: solid #9a04cd;
  margin-top: 2%;
}
