@font-face {
  font-family: 'hades';
  src: url(../Font/hades/HADES.otf) format('truetype');
}

body {
  background-image: url("../Image/Map.png");
  font-family: 'Teko', sans-serif;
  color: white;
  text-shadow: 2px 2px 1px black;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: right;
}

.MenuText li {
  float: left;
  font-size: 25px;
}

.MenuText li a, .MenuDéroulant {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 28px;
  text-decoration: none;
  text-shadow: 0px 0px 0px black;

}

.MenuText li a:hover, .BoutonArmes:hover .MenuDéroulant {
  background-color: red;
}

li.BoutonArmes {
  display: inline-block;
}

.MenuText .Liste_Armes_Déroulant {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.MenuText .Liste_Armes_Déroulant a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.MenuText .Liste_Armes_Déroulant a:hover {
  color: #333333;
}

.BoutonArmes:hover .Liste_Armes_Déroulant {
  display: block;
}

.Armes {
  background-color: rgba(46,49,49,0.9);

}
.Armes .Image_Video {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Armes .Image_Video .Video{
  display: block;
  float: right;
}
.Epee {
  background-color: rgba(255, 105, 97, 0.9);
  margin-right: 5%;
  margin-left: 5%;
}
.Lance {
  background-color: turquoise;
  margin-right: 5%;
  margin-left: 5%;
}
.Bouclier {
  background-color: orange;
  margin-right: 5%;
  margin-left: 5%;
}
.Arc {
  background-color: rgba(202, 165, 226 ,0.9);
  margin-right: 5%;
  margin-left: 5%;
}

.Gant {
  background-color: red;
  margin-right: 5%;
  margin-left: 5%;
}

.Pistolet{
  background-color: gold;
  margin-right: 5%;
  margin-left: 5%;
}
h2{
  text-align: center;
  font-family: 'hades';
  font-size: 35px;
}
