@import "menu.css";

@font-face {
  font-family: 'hades';
  src: url(../Font/hades/HADES.otf) format('truetype');
}

body {
  background-image: url("../Image/Map.png");
  font-family: 'Teko', sans-serif;
  color: white;
  text-shadow: 2px 2px 1px black;
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: 'hades';
  text-shadow: 3px 3px 2px black;
  font-size: 70px;
}
.section {
  margin-right: 5%;
  margin-left: 5%;
}

.Armes {
  background-color: rgba(46,49,49,0.9);
}

.Armes .Image_Video {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Armes .Image_Video .Video{
  display: block;
  float: right;
}
.Armes .Image_Video .Paragraphe{
  margin-right: 10%;
  margin-left: 10%;
  font-size: 20px;
  font-size: 25px;
}
.Epee {
  background-color: rgba(193, 48, 41, 0.9);
}

.Lance {
  background-color: rgba(23, 146, 123, 0.9);
}

.Bouclier {
  background-color: rgba(166, 131, 52, 0.9);
}

.Arc {
  background-color: rgba(146, 90, 183,0.9);
}

.Gant {
  background-color: rgba(166, 90, 139,0.9);
}

.Pistolet{
  background-color: rgba(209, 173, 72,0.9);
  margin-bottom: 2%;
}

h2{
  text-align: center;
  font-family: 'hades';
  font-size: 50px;
}
