@import "menu.css";

body {
  background-image: url(../Image/Map.png);
  font-family: 'Teko', sans-serif;
  color: white;
  text-shadow: 2px 2px 1px black;
  margin: 0px;
}

.Contact {
  color: gold;
  border-radius: 5px;
  background-color: #943636;
  padding: 20px;
  margin: 5%
}

.DemandeContact {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid gold;
  border-radius: 4px;
  box-sizing: border-box;
}

.ReseauxSoc {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black;
  background-color: rgba(46, 49, 49, 0.8);
}
.Logo {
  padding-right: 5%;
  padding-left: 5%;
}
