@import "menu.css";

@font-face {
  font-family: 'hades';
  src: url(../Font/hades/HADES.otf) format('truetype');
}
body {
  background-image: url("../Image/Map.png");
  font-family: 'Teko', sans-serif;
  margin: 0px;
}

.FrontPage {
  background-image: url("../Image/Zagreus_test.jpg");
  text-align: center;
  height: 893px;
  width: 100%;
  background-size: cover;
  border-bottom: solid #4D0A0A;
}

h1 {
  margin-block-start: 0em;
  font-family: 'hades';
  font-size: 80px;
  color: white;
  text-shadow: 6px 6px 2px #780407;
}

.Boutons  {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  height: 690px;
}

.Boutons a {
  text-decoration: none;
  color: white;
}

.Bouton_FrontPage {
  margin-right: 4%;
  margin-left: 6%;
  margin-top: 8%;
  background-color: #1d2121;
  border: solid;
  border-radius: 40px;
  border-color: #1d2121;
  padding: 14px 25px;
}

.Bouton_FrontPage a:hover {
  background-color: #1d2121;
  color:#c30003;
}

.section {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  width: 96%;
  font-size: 20px;
  color: white;
}

.section_Intro {
  background-color: rgba(46, 49, 49, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #4D0A0A;
  border-radius: 10px;
}
.Description {
  margin: 10%;
  font-size: 25px;
  text-align: center;
}
.Trailer {
margin:2%;
}
.section_Dieux {
  background-image: url("../Image/Dieux/Ares.png");
  background-repeat: no-repeat;
  background-position:bottom left;
  background-color:rgba(77, 10, 10 , 0.8);
  border: solid #000000;
  border-radius: 10px;
  overflow: hidden;
}
.section_Dieux h2 {
  margin-left: 55%;
  margin-top: 5%;
  margin-right: 5%;
  font-family: 'hades';
  font-size: 35px;
  text-align:  center;
}

.section_Dieux .Description {
  margin-top: 3%;
  margin-left:60%;
  color: white;
}

.Bouton_section {
  margin-top: 10%;
}

.Bouton_section a {
  text-decoration: none;
  background-color: #1d2121;
  border: solid;
  border-radius: 40px;
  border-color: #1d2121;
  padding: 14px 25px;
  color: white;
}

.Bouton_section a:hover {
  background-color: #1d2121;
  color:#c30003;
}

.section_Armes {
  background-image: url("../Image/Zagreus.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position:right bottom;
  overflow: hidden;
  background-color: rgba(46, 49, 49, 0.8);
  box-align: center;
  border: solid #4D0A0A;
  border-radius: 10px;
  margin-bottom: 5%;
}

.section_Armes h2{
  font-family: 'hades';
  font-size: 35px;
  text-align: center;
  margin-right: 15%;
  margin-top: 5%;
}

.section_Armes .Description{
padding-right: 25%;
padding-left: 10%;
margin-top: 5%;

}
