@import "menu.css";

@font-face {
  font-family: 'hades';
  src: url(../Font/hades/HADES.otf) format('truetype');
}
body {
  background-image: url("../Image/Map.png");
  font-family: 'Teko', sans-serif;
  margin: 0px;
}

.Introduction {
  background-image: url("../Image/Zagreus_test.jpg");
  text-align: center;
  height: 893px;
  width: 100%;
  background-size: cover;
  border-bottom: solid #4D0A0A;
}

.Titre h1 {
  margin-block-start: 0em;
  font-family: 'hades';
  font-size: 80px;
  color: white;
  text-shadow: 6px 6px 2px #780407;
}

.Bouton  {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  height: 690px;
}

.Bouton a {
  text-decoration: none;
  color: white;
}

.Bouton_Intro a:hover {
  background-color: #1d2121;
  color:#c30003;
}

.Bouton .Bouton_Intro {
  margin-right: 4%;
  margin-left: 6%;
  margin-top: 8%;
  background-color: #1d2121;
  border: solid;
  border-radius: 40px;
  border-color: #1d2121;
  padding: 14px 25px;
}

.Introduction .Résumé {
  font-size: 20px;
  margin-top: 15%;
}

.Présentation {
  background-color: rgba(46, 49, 49, 0.8);
  margin:2%;
display: flex;
align-items: center;
justify-content: center;
color: white;
border: solid #4D0A0A;
border-radius: 10px;
}
.Description {
  margin: 10%;
  font-size: 20px
}
.VideoTuto {
margin:2%;
}
.Dieux {
  height: 600px;
  width: 96%;
  background-color:rgba(77, 10, 10 , 0.8);
  margin:2%;
  box-sizing: border-box;
  border: solid #000000;
  border-radius: 10px;
  overflow: hidden;
}

.Bouton_Dieux a {
  text-decoration: none;
  color: white;
  background-color: #1d2121;
  border: solid;
  border-radius: 40px;
  border-color: #1d2121;
  padding: 14px 25px;
}

.Bouton_Dieux a:hover {
  background-color: #1d2121;
  color:#c30003;
}

.Image {
  background-image: url("../Image/Dieux/Ares.png");
  box-sizing: content-box;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  box-align: center;
  text-align: center;
}
.Image .Description {
  margin-left:60%;
  color: white;
}

.Armes {
  height: 700px;
  width: 96%;
  background-color: rgba(46, 49, 49, 0.8);
  margin: 2%;
  box-align: center;
  color: white;
  border: solid #4D0A0A;
  border-radius: 10px;
  font-size: 20px;

}

.Zagreus {
  background-image: url("../Image/Zagreus.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position:right bottom;
  height: 100%;
  overflow:hidden;
}
.Armes .Description_armes{
padding-right: 35%;
padding-top: 10%;
padding-left: 20%;

}

.Bouton_Armes a {
  text-decoration: none;
  color: white;
  background-color: #1d2121;
  border: solid;
  border-radius: 40px;
  border-color: #1d2121;
  padding: 14px 25px;
}

.Bouton_Armes a:hover {
  background-color: #1d2121;
  color:#c30003;
}
.Armes .Zagreus h2{
  font-family: 'hades';
  font-size: 35px;
  text-align: center;
  margin-right: 15%;
}

